# Ignore node_modules
ClientEventApp/events-app/node_modules/

# Ignore build directories
EventApp/**/bin/
EventApp/**/obj/

# Ignore Visual Studio files
EventApp/.vs/

# Ignore user-specific files
*.user
*.suo
